<header class="card-panel lime darken-1">
    <h1 class="center-align">Cadastro de Fotos</h1>
</header>
<main class="container">

    <div class="row">
        <div class="row" *ngIf="mensagem">
            <div class="col m12">
                <p class="card green lighten-1">{{mensagem}} </p>
            </div>
        </div>
        
        <form class="col m7" (ngSubmit)="salvar()">
            <div class="input-field col s12">
                <input id="titulo" type="text" 
                    [(ngModel)]="foto.titulo" name="titulo"
                    [value]="foto.titulo">
                <label for="titulo">Titulo</label>
            </div>
            <div class="input-field col s12">
                <input id="url" type="text" 
                    [(ngModel)]="foto.url" name="url"
                    [value]="foto.url">
                <label for="url">Url</label>
            </div>
            <div class="input-field col s12">
                <textarea id="descricao" class="materialize-textarea"
                    [(ngModel)]="foto.descricao" name="descricao"
                    [value]="foto.descricao"></textarea>
                <label for="descricao">Descricao</label>
            </div>

            <a routerLink="" class="btn">Voltar</a>
            <button class="btn">Salvar</button>
        </form>
        <aside class="col m5">
            <h3>Preview</h3>

            <div>
                Titulo: {{foto.titulo}}
                Url: {{foto.url}}
                Imagem: 
                <card titulo="{{foto.titulo}}" buttonVisible="false">
                    <foto url="{{foto.url}}" titulo="{{foto.titulo}}"></foto>
                </card>
                Descricao: {{foto.descricao}}
            </div>
        </aside>
    </div>
</main>

      